body {
    background-image: url("http://img04.deviantart.net/dfe1/i/2012/206/a/4/lined_paper_9_by_purpledragon42_stock-d58ljn5.png");
    font-family: Comic Sans MS;
    font-size: 120%;
}

h4{
	color: red;

}

